#wrapper{
    display: flex;

}
#koszty,#przychody{
    flex:1;
    text-align: center;
}
#koszty{
    color: red;
    background-color: rgb(255, 151, 151);
}
#przychody{
    color :green;
    background-color: rgb(121, 248, 121);
}
#podsumowanie{
   
    text-align: center;
}